//
   Created by Cody on 1/5/16.

.row.border-bottom
    nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
        a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
            i.fa.fa-bars
        //button.btn.btn-primary.navbar-link(href='http://www.patreon.com/prepit',target="_blank") Help Us Grow!
        //a.navbar-brand(href='http://www.patreon.com/prepit',target="_blank") Help Us Grow!
        a.minimalize-styl-2.btn.btn-primary(href='http://www.patreon.com/prepit',target="_blank") Help Us Grow!

        ul.nav.navbar-top-links.navbar-right
            li
                a(href='/signout')
                    i.fa.fa-sign-out
                    |  Log out
