//
   Created by Cody on 1/5/16.

.row.border-bottom
    nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
        ul.nav.navbar-top-links.navbar-right
            li
                a(href='/signout')
                    i.fa.fa-sign-out
                    |  Log out