//
   Created by alexf4 on 5/17/15.

nav.global
   .wrapper
      //#horizontalBar.ul
      //   #horizontalBar
      //      a(href='/') Home
      //   #horizontalBar
      //      a(href='/email-testing') Features
      //
      //   #horizontalBar
      //      a(href='/pricing') Pricing
      //
      //   #horizontalBar
      //      a(href='/resources') Resources
      //
      //   #horizontalBar
      //      a(href='/partners') Partners
      //
      //   #horizontalBar
      //      a(href='/blog') Blog
      //
      //   #horizontalBar
      //      a(href='/login')
      //         | login
      //   // .login
      //   #horizontalBar
      //      a(href='/pricing')
      //         | signup

