//
   Created by Cody on 1/18/16.

doctype html
html
    body

        p
            h1
                strong Started HomePage
            a(href='/login')
                h4 press here to login

        script(type='text/javascript').