//
   Created by Cody on 1/18/16.

doctype html(lang='en')
head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content='')

    meta(name='author', content='')
    // Add Your favicon here
    link(href='Icon/favicon.ico',rel='shortcut icon')

    title PrepIT - #{Title}
    // Bootstrap core CSS
    link(href='homePage/css/bootstrap.min.css', rel='stylesheet')
    // Animation CSS
    link(href='homePage/css/animate.min.css', rel='stylesheet')

    link(href='homePage/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Custom styles for this template
    link(href='homePage/css/style.css', rel='stylesheet')
    body#page-top
        .navbar-wrapper
            nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
                .container
                    .navbar-header.page-scroll
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                            span.sr-only Toggle navigation

                            span.icon-bar

                            span.icon-bar

                            span.icon-bar

                        a.navbar-brand(href='/login') Log In Here

                    #navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a.page-scroll(href='#page-top') Home

                            li
                                a.page-scroll(href='#studentFeatures') Student Features

                            li
                                a.page-scroll(href='#teacherFeatures') Teacher Features

                            li
                                a.page-scroll(href='#team') Team

                            //li
                            //    a.page-scroll(href='#pricing') Pricing

                            li
                                a.page-scroll(href='#contact') Contact

        #inSlider.carousel.slide.carousel-fade(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#inSlider', data-slide-to='0')

                li(data-target='#inSlider', data-slide-to='1')

            .carousel-inner(role='listbox')
                .item.active
                    .container
                        .carousel-caption
                            h1
                                | PrepIT: Govermment
                                br
                                | and Politcs

                            p A study app to be used in preparation<br>fot the AP United States Goverment and Politics exam

                            //p
                                a.btn.btn-lg.btn-primary(href='#', role='button') READ MORE

                                a.caption-link(href='#', role='button') Inspinia Theme

                        .carousel-image.wow.zoomIn
                            img(src='img/freePlay.png', alt='Free Play')
                    // Set background for slide in css
                    .header-back.one

                .item
                    .container
                        .carousel-caption.blank
                            h1
                                | Tools for Both
                                br
                                | Students and Teachers

                            p

                            //p
                                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more

                        .carousel-image.wow.zoomIn
                            img(src='img/Charts.png', alt='Charts')
                    // Set background for slide in css
                    .header-back.two

            a.left.carousel-control(href='#inSlider', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')

                span.sr-only Previous

            a.right.carousel-control(href='#inSlider', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')

                span.sr-only Next
        //section#features.container.services
            .row
                .col-lg-12.text-center
                    .navy-line
                    p PrepIT is offering free access to the beta version of its first review app for use with the AP US Government and Politics exam.  The app contains 250 review questions and powerful data tracking tools to help students and teachers target weaknesses.  Check out the features for both the student and teacher accounts and give it a try!
            .row
                .col-sm-6
                    h2 Engaging Review

                    p
                        | The new PrepIT gaming app is a revolutionary way to help students pass the AP exam. Students will challenge opponents in head to
                        | head trivia contests as they work their way up the political ladder to reach the White House. Along the way PrepIT will analyze
                        | their performance to offer data driven guidance on where students should devote their study time.

                    //p
                        a.navy-link(href='#', role='button') Details &raquo;

                .col-sm-6
                    h2 PrepIT Crunches the Numbers

                    p
                        | A teacher's time is a valuable resource. With PrepIT students can lind their game to their teachers classroom dashboard. As students
                        | play, PrepIT will aggregate class data to show teachers the strengths and weadnesses among their students and offer suggestions on
                        | what to review again.

                    //p
                        a.navy-link(href='#', role='button') Details &raquo;

                //.col-sm-3
                    h2 6 Charts Library

                    p
                        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.

                    p
                        a.navy-link(href='#', role='button') Details &raquo;

                //.col-sm-3
                    h2 Advanced Forms

                    p
                        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.

                    p
                        a.navy-link(href='#', role='button') Details &raquo;
        .row
            .col-lg-12.text-center
                .navy-line
                p PrepIT is offering free access to the beta version of its first review app for use with the AP US Government and Politics exam.  The app contains 250 review questions and powerful data tracking tools to help students and teachers target weaknesses.  Check out the features for both the student and teacher accounts and give it a try!

        section#studentFeatures.container.features
            .row
                .col-lg-12.text-center
                    .navy-line

                    h1
                        | Student Account Features
                        br

                        span.navy  250 high quality review questions

                    //p written by experienced teachers and broken into 6 major categories of study.

            .row
                .col-md-3.text-center.wow.fadeInLeft
                    br
                    div
                        i.fa.fa-laptop.features-icon

                        h2 Maximize Study Time

                        p
                            | With PrepIT tracking your performance you will know what topics to review.

                    .m-t-lg
                        i.fa.fa-link.features-icon

                        h2 Link Your Account

                        p
                            | You can link your account to your classroom teacher.  They will get updates as you practice so they will know what to review with you in class.
                        br

                .col-md-6.text-center.wow.zoomIn
                    img.img-responsive(src='img/mobileView.png', alt='mobile compatibility')

                .col-md-3.text-center.wow.fadeInRight
                    br
                    div
                        i.fa.fa-desktop.features-icon

                        h2 Visualize Your Performance

                        p
                            | PrepIT dashboard visually communicates your progress so you will know when you are ready for the test.

                    .m-t-lg
                        i.fa.fa-mobile-phone.features-icon

                        h2 Practice Anywhere

                        p
                            | PrepIT works across multiple devices, including most mobile devices.
                        br
                        br
                        br

        //section#features.container.services
            .row
                .col-lg-12.text-center
                    .navy-line
                    p PrepIT is offering free access to the beta version of its first review app for use with the AP US Government and Politics exam.  The app contains 250 review questions and powerful data tracking tools to help students and teachers target weaknesses.  Check out the features for both the student and teacher accounts and give it a try!
            .row
                .col-sm-6
                    h2 Engaging Review

                    p
                        | The new PrepIT gaming app is a revolutionary way to help students pass the AP exam. Students will challenge opponents in head to
                        | head trivia contests as they work their way up the political ladder to reach the White House. Along the way PrepIT will analyze
                        | their performance to offer data driven guidance on where students should devote their study time.

                    //p
                        a.navy-link(href='#', role='button') Details &raquo;

                .col-sm-6
                    h2 PrepIT Crunches the Numbers

                    p
                        | A teacher's time is a valuable resource. With PrepIT students can lind their game to their teachers classroom dashboard. As students
                        | play, PrepIT will aggregate class data to show teachers the strengths and weadnesses among their students and offer suggestions on
                        | what to review again.

                    //p
                        a.navy-link(href='#', role='button') Details &raquo;

                //.col-sm-3
                    h2 6 Charts Library

                    p
                        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.

                    p
                        a.navy-link(href='#', role='button') Details &raquo;

                //.col-sm-3
                    h2 Advanced Forms

                    p
                        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.

                    p
                        a.navy-link(href='#', role='button') Details &raquo;
        section#teacherFeatures.container.features
            .col-lg-12.text-center
                .navy-line

                h1
                    | Teacher Account Features
                    br

                    span.navy  Gain valuable insight with our teacher dashboard view


                //p Collect multiple data points on student performance with the teacher account

            //.row
                p The Teacher Dashboard is designed to provide powerful insight into classroom performance. Teachers don’t have time to sift through hundreds of multiple choice questions looking for trends, so the PrepIT app does it for you.  The program automatically calculates class averages on the 6 major categories of the AP exam, tracks commonly missed questions, and ranks student performance.

            .row.features-block
                .col-md-5.text-center.wow.fadeInLeft
                    .col-lg-10
                        .row
                            i.fa.fa-camera.features-icon

                                h2 Class Snapshot

                                p
                                    | No need to dig through the numbers.  Instantly see class trends, commonly missed questions, and individual student performance.
                                br
                        .row
                            i.fa.fa-desktop.features-icon

                                h2 Monitor Student Progress

                                p
                                    | Dive deeper into the data with the student and question analysis features.  See what questions Jonny is missing or what concepts about linkage institutions are stumping the class.
                                br

                .col-lg-7.text-center.wow.fadeInRight
                    img.img-responsive.center-block(src='img/teacherDashboard.png', alt='dashboard')

        section#team.gray-section.team
            .container
                .row.m-b-lg
                    .col-lg-12.text-center
                        .navy-line

                        h1 Our Team

                        //p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.

                .row
                    .col-sm-4.wow.fadeInLeft
                        .team-member
                            img.img-responsive.img-circle.img-small(src='img/Mike.jpg', alt='')

                            h4
                                span.navy Mike
                                |  Clancy

                            p
                                | Mike is an AP Government teacher in Iowa and he understands the time crunch that teachers face as they prepare students for the AP exams. His idea for PrepIT was inspired by his students love of class trivia games and the need to prioritize review time on student weaknesses. Before teaching in Iowa Mike taught internationally in Vietnam and also served as a Teach for America corps member in Kansas City, Mo. Mike is a graduate of the University of Northern Iowa and Rockhurst University.

                            ul.list-inline.social-icon
                                li
                                    a(href='https://twitter.com/clancym86')
                                        i.fa.fa-twitter

                                //li
                                    a(href='#')
                                        i.fa.fa-facebook

                                //li
                                    a(href='#')
                                        i.fa.fa-linkedin

                    .col-sm-4
                        .team-member.wow.zoomIn
                            img.img-responsive.img-circle.img-small(src='img/Alex.jpg', alt='')

                            h4
                                span.navy Alex
                                |  Kharbush

                            p
                                | Alex is a startup forged Software Engineer. Working at startups in Iowa, San Francisco, Austin and Chicago he loves the fast pace of building and shipping products. Alex currently lives in Seattle and spends his time doing yoga and ingesting technologies. His affection for AWS, Docker and Node.js has simplified build process and increased the speed at which PrepIT.io is developed. In fact he would rather be coding then working on a Bio.....

                            //ul.list-inline.social-icon
                                li
                                    a(href='#')
                                        i.fa.fa-twitter

                                li
                                    a(href='#')
                                        i.fa.fa-facebook

                                li
                                    a(href='#')
                                        i.fa.fa-linkedin

                    .col-sm-4.wow.fadeInRight
                        .team-member
                            img.img-responsive.img-circle.img-small(src='img/TJ.jpg', alt='')

                            h4
                                span.navy TJ
                                |  McDonald

                            p
                                | TJ has been working in professional education since 1999 after earning an undergraduate degree from the University of Iowa. He moved to North Carolina in 2001 and worked in the training group for high tech companies such as IBM and Lenovo. Eventually he became a program manager at Global Knowledge which is the worlds largest learning solutions provider. During this time his client list included Fortune 500 companies such as Microsoft, Cisco, Citibank, and the New York Stock Exchange. While in North Carolina he also earned an MBA from NC State with a concentration in entrepreneurship and technology.

                            //ul.list-inline.social-icon
                                li
                                    a(href='#')
                                        i.fa.fa-twitter

                                li
                                    a(href='#')
                                        i.fa.fa-facebook

                                li
                                    a(href='#')
                                        i.fa.fa-linkedin

                //.row
                    .col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
        //section.features
            .container
                .row
                    .col-lg-12.text-center
                        .navy-line

                        h1 Even more great feautres

                        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.

                .row.features-block
                    .col-lg-3.features-text.wow.fadeInLeft
                        small INSPINIA

                        h2 Perfectly designed

                        p
                            | INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.

                        a.btn.btn-primary(href='') Learn more

                    .col-lg-6.text-right.m-t-n-lg.wow.zoomIn
                        img.img-responsive(src='img/iphone.jpg', alt='dashboard')

                    .col-lg-3.features-text.text-right.wow.fadeInRight
                        small INSPINIA

                        h2 Perfectly designed

                        p
                            | INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.

                        a.btn.btn-primary(href='') Learn more
        //section#testimonials.navy-section.testimonials
            .container
                .row
                    .col-lg-12.text-center.wow.zoomIn
                        i.fa.fa-comment.big-icon

                        h1
                            | What our users say

                        .testimonials-text
                            i
                                | &quot;Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).&quot;

                        small
                            strong 12.02.2014 - Andy Smith
        //section.features
            .container
                .row
                    .col-lg-12.text-center
                        .navy-line

                        h1 More and more extra great feautres

                        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.

                .row
                    .col-lg-5.col-lg-offset-1.features-text
                        small INSPINIA

                        h2 Perfectly designed

                        i.fa.fa-bar-chart.big-icon.pull-right

                        p
                            | INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.

                    .col-lg-5.features-text
                        small INSPINIA

                        h2 Perfectly designed

                        i.fa.fa-bolt.big-icon.pull-right

                        p
                            | INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.

                .row
                    .col-lg-5.col-lg-offset-1.features-text
                        small INSPINIA

                        h2 Perfectly designed

                        i.fa.fa-clock-o.big-icon.pull-right

                        p
                            | INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.

                    .col-lg-5.features-text
                        small INSPINIA

                        h2 Perfectly designed

                        i.fa.fa-users.big-icon.pull-right

                        p
                            | INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.
        //section#pricing.pricing
            .container
                .row.m-b-lg
                    .col-lg-12.text-center
                        .navy-line

                        h1 App Pricing

                        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.

                .row
                    .col-lg-4.wow.zoomIn
                        ul.pricing-plan.list-unstyled
                            li.pricing-title
                                | Basic

                            li.pricing-desc
                                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.

                            li.pricing-price
                                span $16
                                |  / month

                            li
                                | Dashboards

                            li
                                | Projects view

                            li
                                | Contacts

                            li
                                | Calendar

                            li
                                | AngularJs

                            li
                                a.btn.btn-primary.btn-xs(href='#') Signup

                    .col-lg-4.wow.zoomIn
                        ul.pricing-plan.list-unstyled.selected
                            li.pricing-title
                                | Standard

                            li.pricing-desc
                                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.

                            li.pricing-price
                                span $22
                                |  / month

                            li
                                | Dashboards

                            li
                                | Projects view

                            li
                                | Contacts

                            li
                                | Calendar

                            li
                                | AngularJs

                            li
                                strong Support platform

                            li.plan-action
                                a.btn.btn-primary.btn-xs(href='#') Signup

                    .col-lg-4.wow.zoomIn
                        ul.pricing-plan.list-unstyled
                            li.pricing-title
                                | Premium

                            li.pricing-desc
                                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.

                            li.pricing-price
                                span $160
                                |  / month

                            li
                                | Dashboards

                            li
                                | Projects view

                            li
                                | Contacts

                            li
                                | Calendar

                            li
                                | AngularJs

                            li
                                a.btn.btn-primary.btn-xs(href='#') Signup

                .row.m-t-lg
                    .col-lg-8.col-lg-offset-2.text-center.m-t-lg
                        p
                            | *Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy.
                            span.navy Various versions
                            |   have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        section#contact.gray-section.contact
            .container
                .row.m-b-lg
                    .col-lg-12.text-center
                        .navy-line

                        h1 Contact Us

                        //p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.

                .row.m-b-lg
                    .col-lg-3.col-lg-offset-3
                        address
                            strong
                                span.navy PrepIT, LLC.
                            br
                            |                     Iowa City, IA 52242
                            br
                            br
                            |                     Also message us on twiter using 
                            a(href='https://twitter.com/PrepITgov')
                                span.navy @PrepITgov

                    .col-lg-4
                        p.text-color
                            | We'd love to hear from you! Please direct all questions and comments to info@prepit.io. We are a small team so please be patient for our reply.

                .row
                    .col-lg-12.text-center
                        a.btn.btn-primary(href='mailto:info@prepit.io') Send us mail


                .row
                    .col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
                        p
                            strong &copy; 2015 Prepit
        script(src='homePage/js/jquery-2.1.1.js')
        script(src='homePage/js/pace.min.js')
        script(src='homePage/js/bootstrap.min.js')
        script(src='homePage/js/classie.js')
        script(src='homePage/js/cbpAnimatedHeader.js')
        script(src='homePage/js/wow.min.js')
        script(src='homePage/js/inspinia.js')
