//
   Created by alexf4 on 5/31/15.

doctype html
html
head
   meta(charset='utf-8')

   meta(name='viewport', content='width=device-width, initial-scale=1.0')

   title PrepIT | Register

   link(href='css/bootstrap.min.css', rel='stylesheet')

   link(href='font-awesome/css/font-awesome.css', rel='stylesheet')

   link(href='css/plugins/iCheck/custom.css', rel='stylesheet')

   link(href='css/animate.css', rel='stylesheet')

   link(href='css/style.css', rel='stylesheet')
body.gray-bg
   .middle-box.text-center.loginscreen.animated.fadeInDown
      div
         div
            h1.logo-name PrepIT

         h3 Register to PrepIT

         p Create account to see it in action.
         .alert-danger #{error}
         form.m-t(role='form', action='/signup', method='POST')
            .form-group
               input.form-control(type='email', name='email', placeholder='Email', required)

            .form-group
               input.form-control(type='password', name='password' placeholder='Password', required, id = "Password")

            .form-group
               input.form-control(id = "ConfirmPassword", name = "ConfirmPassword",type='password', placeholder='Confirm Password')
               span(id='message')

            .form-group
               input(type='radio', name='userType', value='teacher', required)
               |  I am a Teacher
               br
               input(type='radio', name='userType', value='student')
               |  I am a Student
               br
            button.btn.btn-primary.block.full-width.m-b(type='submit') Register

            p.text-muted.text-center
               small Already have an account?

            a.btn.btn-sm.btn-white.btn-block(href='login') Login

   // Mainly scripts
   script(src='js/jquery-2.1.1.js')

   script(src='js/bootstrap.min.js')
   // iCheck
   script(src='js/plugins/iCheck/icheck.min.js')

   script(type = 'text/javascript').
       $('#Password, #ConfirmPassword').on('keyup', function () {
           if ($('#Password').val() == $('#ConfirmPassword').val() && $('#ConfirmPassword').val() != "") {
               $('#message').html('Passwords Match').css('color', 'green');
               $(":submit").removeAttr("disabled");
           } else if ($('#ConfirmPassword').val() != "") {
               $('#message').html("Passwords Don't Match").css('color', 'red');
               $(":submit").attr("disabled", true);
           } else {
               $('#message').html("").css('color', 'black');
               $(":submit").attr("disabled", true);
           }
       });

   script.
      $(document).ready(function(){
         $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
         });
      });
   script.
      (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r;
         i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                 }, i[r].l = 1 * new Date();
         a = s.createElement(o),
                 m = s.getElementsByTagName(o)[0];
         a.async = 1;
         a.src = g;
         m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-75763045-1', 'auto');
      ga('send', 'pageview');