//
   Created by alexf4 on 6/8/15.

doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/animate.css')
        title Hello
    body
        .ibox.float-e-margins
        .ibox-title
            h5
                h5 Chosen select
        .ibox-content
            p
                With chosen select uesr can fase chose from large in select input.
            .form-group
                label.font-noraml Basic example
            .input-group
                select.chosen-select(data-placeholder='Choose a Country...', style='width:350px;', tabindex='2')
                    option(value='') Select
                    option(value='United States') United States
                    option(value='United Kingdom') United Kingdom
        .ibox.float-e-margins
        .ibox-title
            h5
                h5 Chosen select
        .ibox-content
            p
                With chosen select uesr can fase chose from large in select input.
            .form-group
                label.font-noraml Basic example
            .input-group
                select.chosen-select(data-placeholder='Choose a Country...', style='width:350px;', tabindex='2')
                    option(value='') Select
                    option(value='United States') United States
                    option(value='United Kingdom') United Kingdom
        script(src='js/jquery-2.1.1.js')
        script(src='js/bootstrap.min.js')
        script(src='js/plugins/pace/pace.min.js')
        script(src='js/plugins/slimscroll/jquery.slimscroll.min.js')
        script(src='js/plugins/chosen/chosen.jquery.js')

