//
   Created by alexf4 on 6/10/15.

.wrapper.wrapper-content
   .row
      .col-lg-12
         .ibox.float-e-margins
            .ibox-title
               h5 Stacked-to-horizontal
               .ibox-tools
                  a.collapse-link
                     i.fa.fa-chevron-up
                  a.dropdown-toggle(data-toggle='dropdown', href='#')
                     i.fa.fa-wrench
                  ul.dropdown-menu.dropdown-user
                     li
                        a(href='#') Config option 1
                     li
                        a(href='#') Config option 2
                  a.close-link
                     i.fa.fa-times
            .ibox-content
               p
                  | Using a single set of
                  code .col-md-*
                  |  grid classes, you can create a default grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any
                  code .row
                  | .
               .row.show-grid
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
                  .col-md-1 .col-md-1
               .row.show-grid
                  .col-md-8 .col-md-8
                  .col-md-4 .col-md-4
               .row.show-grid
                  .col-md-4 .col-md-4
                  .col-md-4 .col-md-4
                  .col-md-4 .col-md-4
               .row.show-grid
                  .col-md-6 .col-md-6
                  .col-md-6 .col-md-6