//
   Created by alexf4 on 6/8/15.

doctype html
html
   head
      link(rel='stylesheet', href='/stylesheets/style.css')

      title Hello
   body
      .col-lg-6
         .ibox.float-e-margins
            .ibox-title
               h5 Pie
               div(ibox-tools='')
            .ibox-content
               div
                  canvas#doughnutChart(height='140')
      script(src='js/plugins/chartjs/Chart.min.js')
      script(type='text/javascript').
        var ctx = document.getElementById("doughnutChart").getContext("2d");
        var temp = !{JSON.stringify(data)};
        alert(!{JSON.stringify(data)});
        var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(data)}, !{JSON.stringify(options)});
      //script(src='js/chartjs-teacher.js')
